@import "../styles/colors.scss";

.resume_wrapper {
  display: flex;
  width: 793px;
  margin: 0px auto 0px auto;
  background: #fff;
  min-height: 1122.519685px;
  border: 1px solid #84838b;

  section {
    margin: 10px 10px 0px 10px;
  }

  .profile {
    color: black;
  }

  .heading-secondary {
    color: $text-secondary;
  }

  .contact-me-info {
    display: flex;
    line-height: 25px;
    white-space: nowrap;
  }

  .skills-summary {
    margin: 30px;

    ul {
      margin-left: 40px;
      line-height: 27px;
      white-space: nowrap;
    }
  }

  .resume_namerole .name {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: 4px;
    line-height: 30px;
  }

  .resume_left {
    background: $resume-primary;
    color: rgb(226, 226, 226);

    .resume_image {
      width: 100%;
    }

    .resume_image img {
      display: flex;
      margin: 30px auto 0 auto;
    }
  }

  .title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 4px;
  }

  .resume_item {
    padding: 20px 0;
    border-bottom: 0px solid $resume-primary;
  }

  .resume_left .resume_namerole {
    display: none;
  }

  .resume_left .resume_namerole .role {
    color: #e9e9e9;
  }

  .resume_right {
    width: 65%;
    padding: 20px 10px;
    color: $resume-primary;

    .resume_namerole .name {
      color: $resume-primary;
      font-size: 32px;
    }

    .resume_namerole .role {
      font-size: 14px;
      text-transform: uppercase;
    }

    .resume_title {
      color: $resume-primary;
    }

    .resume_data {
      display: flex;
    }

    .resume_data .year {
      width: 115px;
      position: relative;
    }

    .resume_data .content {
      padding-left: 35px;
      margin-bottom: 20px;
      width: calc(100% - 115px);
    }

    .resume_data .year:before {
      content: "";
      position: absolute;
      top: 5px;
      right: 0;
      width: 10px;
      height: 10px;
      background: #fff;
      border: 1px solid $resume-primary;
      border-radius: 50%;
    }

    .resume_data .year:after {
      content: "";
      position: absolute;
      top: 17px;
      right: 5px;
      width: 2px;
      height: 90%;
      background: $resume-primary;
    }

    .resume_data:last-child .year:after {
      display: none;
    }
  }
}

// @media screen and (max-width: 800px) {
//   .resume_wrapper .resume_right .resume_namerole {
//     display: none;
//   }
//   .resume_wrapper .resume_left .resume_namerole {
//     display: block;
//   }
//   .resume_wrapper {
//     width: 100%;
//     flex-direction: column;
//   }
//   .resume_wrapper .resume_left,
//   .resume_wrapper .resume_right {
//     width: 100%;
//   }

//   .resume_wrapper {
//     margin: 0;
//   }
// }

// @media screen and (max-width: 424px) {
//   .resume_wrapper .resume_right {
//     padding: 20px 30px;
//   }
//   .resume_wrapper .resume_right .resume_data {
//     flex-direction: column;
//   }
//   .resume_wrapper .resume_right .resume_data .year {
//     padding: 0;
//     margin-bottom: 5px;
//     width: 100%;
//     color: #0175b2;
//   }
//   .resume_wrapper .resume_right .resume_data .year:before,
//   .resume_wrapper .resume_right .resume_data .year:after {
//     display: none;
//   }
//   .resume_wrapper .resume_right .resume_data .content {
//     width: 100%;
//     padding: 0;
//   }
// }
